
#content{
	
	font: 13px Helvetica, Arial, sans-serif;
	background-color:#e0e0eb;
	border-radius:15px;
	color:#00004d;
	display:block;
	margin:auto;
	text-align: center;
	box-shadow: 0 1px 0 #fff inset;


}
h1{
	font-size: 20px;
	font-weight: 10px;
	font-family: serif;
	text-align: center;

}
div {
	padding-top:.55%;
	padding-bottom:.55%;
	font-weight: bolder;
}

input{
	font-weight: lighter;


}

